# Python
.venv/
__pycache__/
*.py[cod]
.pytest_cache/

# Environment
.env
.env.*

# VS Code
.vscode/

# Node
node_modules/
dist/
build/

# Logs
*.log

# TypeScript
*.tsbuildinfo

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db